<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <img src="/assets/img/rent.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
        <a href="#" class="navbar-brand" routerLink="/">EasyCar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/">
                        Accueil
                    </a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a>
                </li>
                <li *ngIf="authService.loggedIn() && authService.user.role === 'admin'" class="nav-item"
                    [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/travel-types">Trajets-types</a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/travels">Mes Propositions</a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/cars">Mes voitures</a>
                </li>
                <li *ngIf="authService.loggedIn() && authService.user.role === 'admin'" class="nav-item"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/users">Membres</a>
                </li>
                <li *ngIf="authService.loggedIn() && authService.user.role === 'admin'" class="nav-item"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/stats">Statistiques</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/login">Se connecter</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" href="#" routerLink="/register">S'inscrire</a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-3" href="#" id="notif-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showNotifications()">
                        <span *ngIf="authService.user.notifications && authService.user.notifications.length > 0"
                              class="count"
                              id="notifications-count">
                            {{authService.user.notifications.length < 10 ? authService.user.notifications.length : '10+'}}</span>
                        <i class="fa fa-bell-o pt-1" style="font-size: 25px;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="notif-dropdown-menu" aria-labelledby="notifDropdown">
                        <div class="dropdown-header text-black text-center" style="font-size: 20px;">
                            Notifications <span class="count">{{authService.user.notifications ? authService.user.notifications.length : ''}}</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="container" id="notif-container">
                            <div *ngFor="let notif of authService.user.notifications" class="media mb-2"
                                 style="cursor: pointer;">
                                <img class="d-flex mr-3 rounded-circle" *ngIf="notif.photo"
                                     [src]="uploadUrl + '/'+ notif.photo" alt=""
                                     width="25" height="25">
                                <div class="media-body">
                                    <span class="notification-user">{{notif.name}}</span>
                                    <span class="notification-msg">{{notif.message}}</span>
                                    <br>
                                    <a routerLink="/travel-details/{{notif.target}}">Voir</a>
                                </div>
                                <span class="close" (click)="deleteNotification(notif._id)">&times;</span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img [src]="uploadUrl+ '/'+authService.user.photo" alt="profil" class="rounded-circle"
                             width="32" height="32">
                        <span class="text-white"> {{authService.user.firstName}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navDropdown">
                        <h6 class="dropdown-header text-dark" style="font-size: 18px;">
                            {{authService.user.firstName}} {{authService.user.lastName}}
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/profile">
                            <i class="fa fa-user-circle-o"></i>Profil
                        </a>
                        <a class="dropdown-item" routerLink="/change-password">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            Mot de passe
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>Déconnexion
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>