

.login input {
    background-color: transparent;
}

.form-control::-webkit-input-placeholder { /* Chrome */
    color: #343a40;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #343a40;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #343a40;
    opacity: 1;
}

.form-control:-moz-placeholder { /* Firefox 4 - 18 */
    color: #343a40;
    opacity: 1;
}


.login {

}

.login, .input-group-addon {
    color: #343a40
}

.card-login {
    background-color: transparent;
    border: none;
}