<ng-template #contentcar let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header justify-content-center bg-warning">
            <h5 class="modal-title title text-white">Ajout Voiture</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form ngNativeValidate #f="ngForm" (submit)="addCar(f)">
                <div class="form-group">
                    <label for="model">Modele</label>
                    <input [(ngModel)]="car.model" type="text" class="form-control" id="model"
                           name="model" required>
                </div>
                <div class="form-group">
                    <label for="make">Constructeur</label>
                    <input [(ngModel)]="car.make" type="text" class="form-control" id="make"
                           name="make" required>
                </div>
                <div class="form-group">
                    <label for="seating">Nombre places</label>
                    <input [(ngModel)]="car.seating" type="number" min="1" max="12" class="form-control" id="seating"
                           name="seating" required>
                </div>
                <div class="form-group">
                    <label for="licensePlate">Plaque d'immatriculation</label>
                    <input [(ngModel)]="car.licensePlate" type="text" placeholder="AA-123-AA"
                           pattern="^[A-Z]{2} ?- ?\d{3} ?- ?[A-Z]{2}$" class="form-control" id="licensePlate"
                           name="licensePlate" required>
                </div>

                <!--<button type="submit" class="btn btn-primary">Valider</button>-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submit3">Valider</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>
