<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header justify-content-center bg-success">
            <h5 class="modal-title title text-white">Ajout Trajet</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div>
                <label>Adresse de départ</label>
                <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: 'adresse',
                                         showSearchButton:false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
            </div>
            <div>
                <label>Adresse de destination</label>
                <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: 'adresse',
                                         showSearchButton:false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete>
            </div>
            <form ngNativeValidate #f="ngForm" (submit)="addTravel(f)">
                <div class="form-group" (click)="setprice()">
                    <label for="price">Tarif</label>
                    <input [(ngModel)]="travel.price" type="number" min="0" class="form-control" id="price" name="price"
                           max="0"
                           required>
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" id="date"
                           name="dp" [(ngModel)]="model" ngbDatepicker #dpick="ngbDatepicker" (click)="dpick.toggle()"
                           [minDate]="minDate" required>
                </div>
                <div class="form-group">
                    <label for="time">Heure</label>
                    <ngb-timepicker [(ngModel)]="time" id="time" name="time" value="time" required></ngb-timepicker>
                </div>
                <div class="form-group">
                    <label for="car">Voiture</label>
                    <select class="form-control" name="car" id="car" [(ngModel)]="travel.car" required>
                        <option *ngFor="let car of cars" [value]="car._id">{{car.make}} {{car.model}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="placesAvailable">Places disponibles</label>
                    <input class="form-control" type="number" value="0" [(ngModel)]="travel.placesAvailable"
                           id="placesAvailable" name="placesAvailable" required>
                </div>
                <div class="form-group">
                    <label for="averageTime">Durée moyenne</label>
                    <input [(ngModel)]="travel.averageTime" class="form-control" id="averageTime" name="averageTime"
                           value="'0" readonly>
                </div>
                <div class="form-group">
                    <label for="distance">Distance (en km)</label>
                    <input [(ngModel)]="travel.distance" class="form-control" id="distance" name="distance"
                           value="'0" readonly>
                </div>
                <!--<button type="submit" class="btn btn-primary">Valider</button>-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submit2" (click)="setprice()">Valider</button>
                </div>

            </form>
        </div>
    </div>
</ng-template>
