<div class="container login mt-5">
    <div class="col-md-6  mx-auto" style="margin-top: -10px;">
        <div class="card">
            <div class="text-center pt-4">
                <h4>Connectez-vous</h4>
            </div>
            <form class="form mt-10" (submit)="onSubmit()" ngNativeValidate>
                <div class="card-body">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="email" class="form-control" required name="email" id="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-control" required name="password"
                               id="password"
                               placeholder="Mot de passe">
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success btn-round btn-lg btn-block">Se connecter</button>
                    </div>
                </div>
                <div class="text-center">
                    <h6>
                        <span style="color: #F96332;">Pas de compte?</span>
                        <a href="#" routerLink="/register" class="link">Inscrivez-vous</a>
                    </h6>
                </div>
            </form>
        </div>
    </div>
</div>