<div class="container travel-types mt-3">

    <div class="row mb-5">
        <div *ngFor="let travel of travels | orderBy: distanceMax ; index as i" [attr.data-index]="i"
             class="col-lg-6 col-md-12 d-flex">
            <div class="card w-100 mb-2">
                <div class="card-body">
                    <div class="card-text row">
                        <div class="col-md-8">
                            <div *ngIf="i > 0">
                                <span class="h5">
                                        {{travels[i-1].distanceMax}} km <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    {{travel.distanceMax}} km <br>
                                </span>
                            </div>
                            <div *ngIf="i < 1">
                               <span class="h5"> 0 km <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                {{travel.distanceMax}} km <br>
                               </span>
                            </div>
                        </div>
                        <div class="col-md-4 text-right mt-4">
                            <h5 class="price text-right">{{travel.price | currency : 'EUR'}}</h5> <br>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent" style="border: none;">
                    <a href="#" routerLink="/travel-type-edit/{{travel._id}}" class="btn btn-primary">Modifier</a>
                    <button class="btn btn-danger" (click)="deleteTravelType(travel._id)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>