<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h4 class="label">Modifier votre mot de passe</h4>
            <p>Vous serez rediriger vers la page de connexion</p>
        </div>
        <div class="col-md-8 ml-auto">
            <form ngNativeValidate #f="ngForm" (submit)="change(f)">
                <div class="card-body">
                    <div class="form-group">
                        <label for="current" class="label">Mot de passe actuel</label>
                        <input required class="form-control" type="password" name="current" [(ngModel)]="current" id="current">
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="label">Nouveau Mot de passe</label>
                        <input required class="form-control" type="password" name="newPassword" [(ngModel)]="newPassword" id="newPassword" #newP = "ngModel">
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="label">Confirmer Mot de passe</label>
                        <input required class="form-control" type="password" name="confirm" [(ngModel)]="confirm" id="confirm" #confirmP = "ngModel"
                        [ngClass]="{'is-invalid': confirmP.value !== newP.value}">
                        <div *ngIf="confirmP.value !== newP.value && confirmP.touched" class="invalid-feedback">
                            Les mot de passes ne correspondent pas
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success btn-round" style="cursor: pointer;">
                            Sauvegarder
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-round pull-right" routerLink="/dashboard"
                                style="cursor: pointer;">Annuler
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>