<div class="container travel-types mt-5">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <input class="form-control" type="text" placeholder="Recherche trajet" name="search"
                           [(ngModel)]="filter">
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('distance')">
                        <i *ngIf="key =='distance'" class="fa"
                           [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Distance
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('averageTime')">
                        <i *ngIf="key =='averageTime'" class="fa"
                           [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Temps
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('price')">
                        <i *ngIf="key =='price'" class="fa"
                           [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Prix
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('date') ">
                        <i *ngIf="key =='date'" class="fa "
                           [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Date
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="card card-body w-100 bg-light">
                <form #f="ngForm" (submit)="sortTravel(f, $event)">
                    <h3>Trier les résultats</h3>
                    <div class="form-group">
                        <label for="driver">Conducteur</label>
                        <input class="form-control" type="text" id="driver" name="driver" [(ngModel)]="driver">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" name="date" id="date" class="form-control" name="dp" [(ngModel)]="model"
                               ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                               [minDate]="minDate" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Heure</label>
                        <input type="number" min="0" max="24" name="time" id="time" class="form-control"
                               [(ngModel)]="time">
                    </div>
                    <button type="submit" class="btn btn-success btn-block mt-5">Valider</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div *ngFor="let travel of travels | filter:filter| orderBy: key : reverse | paginate: { itemsPerPage: 4, currentPage: p }"
                 class="col-md-12 d-flex mb-2">
                <div *ngIf="travel.isOnline == true" class="card w-100" routerLink="/travel-details/{{travel._id}}"
                     style="cursor:pointer;">
                    <div class="card-body">
                        <div class="row">
                            <div class="media">
                                <img *ngIf="travel.user.photo" class="d-flex mr-3 rounded-circle"
                                     [src]="uploadUrl+'/'+travel.user.photo" alt="" width="75" height="75">
                                <div class="media-body">
                                    <h3 class="mt-2">{{travel.user.firstName}} {{travel.user.lastName}}</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-text row">
                            <div class="col-md-8">
                                <h5 class="">
                                    {{travel.departure}} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    {{travel.destination}}<br>
                                </h5>
                                <i class="fa fa-map-pin" aria-hidden="true"></i> {{travel.departureAddress}}<br>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{travel.destinationAddress}}<br>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>{{travel.date | date: 'dd-MM-yyyy'}}<br>
                            </div>
                            <div class="col-md-4 text-right mt-4">
                                <h5 class="price text-right">{{travel.price | currency : 'EUR'}}</h5> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>