.main {
    min-height: 100%;
}
footer{
    height: 768px;
    background: #3b3b3b;
    color: #ffffff;
}

.footer .paragraph-2{
    font-size: 20px;
}

.footer{
    padding-top: 97px;
}

.footer-title{
    text-align: center;
}
.footer-title h1{
    color: #F4793E;
}

.footer-form .btn{
    background-color: #F4793E;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}
.footer-form input, .footer-form button{
    height: 50px;
}
.footer-form.row{
    margin-left: 20px;
}

.footer .icons{
    margin: 60px auto;
}

.footer .icons i{
    background: #F4793E;
    cursor: pointer;
}
.footer .fa-border{
    color: #ffffff;
    border-color: #F4793E;
}

.footer ul{
    list-style-type: none;
}
.footer.contact{
    font-size: 16px;
    line-height: 1.25;
}
