<div class="container travel-types mt-3">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <input class="form-control" type="text" placeholder="Recherche trajet" name="search" [(ngModel)]="filter">
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('distance')">
                        <i *ngIf="key =='distance'" class="fa" [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Distance
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('averageTime')">
                        <i *ngIf="key =='averageTime'" class="fa" [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Temps
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('price')">
                        <i *ngIf="key =='price'" class="fa" [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Prix
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary" (click)="sort('date') ">
                        <i *ngIf="key =='date'" class="fa " [ngClass]="{'fa-arrow-down':reverse,'fa-arrow-up':!reverse}"></i>Date
                    </button>
                </li>
            </ul>
        </div>
    </div>
<br>
    <div class="row mb-5">
        <div *ngFor="let travel of travels | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 6, currentPage: p }; let i = index"
             class="col-lg-6 col-md-12 d-flex mb-2">
            <div class="card w-100 " routerLink="/travel-details/{{travel._id}}" style="cursor: pointer;">
                <div class="card-body">
                    <div class="card-text row" [ngClass]="{'text-danger': travel.isOnline==false}">
                        <div class="col-md-8">
                            <h5 class="">
                                {{travel.departure}} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                {{travel.destination}}<br>
                            </h5>
                            <i class="fa fa-map-pin" aria-hidden="true"></i> {{travel.departureAddress}}<br>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{travel.destinationAddress}}<br>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>{{travel.date | date: 'dd-MM-yyyy'}}<br>
                            <i class="fa fa-road" aria-hidden="true"></i> {{travel.distance}}km<br>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{this.Math.floor(travel.averageTime/60)}} h{{this.Math.ceil(travel.averageTime%60)}}min<br>
                        </div>
                        <div class="col-md-4 text-right mt-4">
                            <h5 class="price text-right">{{travel.price | currency : 'EUR'}}</h5> <br>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent" style="border: none;">
                    <a href="#" routerLink="/travel-edit/{{travel._id}}" class="btn btn-primary" [ngClass]="{'disabled': travel.isOnline==false}">Modifier</a>
                    <button class="btn btn-danger" (click)="deleteTravel(travel._id)" *ngIf="travel.isOnline==true">Supprimer</button>
                    <button class="btn btn-danger" (click)="undeleteTravel(travel._id)" *ngIf="travel.isOnline==false">Reposter</button>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>