<div class="container mt-5" *ngIf="ready">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card card-body w-100 card-chart">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="barChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body w-100 card-chart">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body w-100 card-chart mb-3">
                <h1 class="mt-3 text-center text-primary">Membres</h1>
                <div class="mt-5 mb-3 mx-auto card-text text-center text-primary rounded-circle stats-members">{{nbUsers}}</div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body w-100 card-chart">
                <canvas width="800" height="450" baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [options]="doughnutChartOptions"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body w-100 card-chart">
                <canvas width="800" height="450" baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>