/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Source Sans Pro', serif;
    font-size:16px;
}
.navbar .navbar-nav .nav-link:not(.btn) {
    text-transform: none;
}

.navbar .navbar-brand {
    text-transform: none;
    font-weight: 700;
}

.bg-primary-2 {
    background-color: #007bff !important;
}

body.body {
    background: url("/assets/img/jacob-ufkes-123627.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #C6C1BD inset;
    background-color: #C6C1BD;
}

.navbar-transparent{
    background-color: transparent !important;
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}


.star {
    font-size: 1.5rem;
    color: #b0c4de;
}
.filled {
    color: #FFFF00;
}

/*Remove firefox red border on required input*/
input:required {
    box-shadow:none;
}

.btn-orange {
    color: #ffffff;
    background-color: #F4793E;
    border-color: #F4793E;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    color: #ffffff;
    background-color: #F4793E;
    border-color: #F4793E;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #F4793E;
    border-color: #F4793E;
}

.btn-orange .badge {
    color: #F4793E;
    background-color: #ffffff;
}