<div class="container mt-5" *ngIf="travel">
    <div *ngIf="travel.isOnline == false" class="card text-center">
        <div class="card-block text-danger">
            Voyage Annulé
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card w-100">
                <div class="card-body">
                    <div class="media">
                        <img *ngIf="travel.user.photo" class="d-flex mr-3 rounded-circle"
                             [src]="uploadUrl+'/'+travel.user.photo" alt="" width="75" height="75">
                        <div class="media-body">
                            <h5 style="font-weight: 600; margin-bottom: 0;">{{travel.user.firstName}}
                                {{travel.user.lastName}}</h5>
                            <span *ngIf="authService.loggedIn()">{{calculate_age(travel.user.birth)}} ans</span>
                            <br>
                            <span *ngIf="authService.loggedIn()">Tel: {{travel.user.phoneNumber}}</span>
                            <br>
                            <ngb-rating style="margin-top: -10px;" *ngIf="authService.loggedIn()"
                                        [(rate)]="travel.user.rating" readonly="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Départ</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                <i class="fa fa-map-pin text-success" aria-hidden="true"></i>&nbsp;
                                {{travel.departureAddress}}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Arrivée</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                <i class="fa fa-map-marker text-danger" aria-hidden="true"></i>&nbsp;
                                {{travel.destinationAddress}}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Date</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                <i class="fa fa-calendar text-info" aria-hidden="true"></i>&nbsp;
                                {{travel.date | date: 'dd-MM-yyyy'}} à {{travel.date | date : 'HH:mm'}}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Voiture</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                {{travel.car.make}} {{travel.car.model}}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Places</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                {{travel.placesAvailable}} places restantes
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="lead text-secondary"> Prix</h6>
                        </div>
                        <div class="col-sm-9 ml-auto">
                            <h5 class="lead">
                                {{travel.price | currency : 'EUR'}}
                            </h5>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-block mt-3" *ngIf="canBook && travel.isOnline == true"
                            (click)="stripe.handlePayment(travel.price * 100)">
                        Réserver
                    </button>
                    <button class="btn btn-danger btn-block mt-3" *ngIf="canCancel"
                            (click)="cancelReservation(travel._id)">
                        Annuler réservation
                    </button>
                </div>
            </div>
        </div>
        <div #map id="map" style="min-height: 100%;" class="col-md-6"></div>
    </div>
    <div class="row mt-3" *ngIf="authService.user._id === travel.user._id">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-responsive-md mt-2">
                <caption class="lead text-center">Liste des passagers</caption>
                <thead class="thead-dark">
                <tr>
                    <th style="cursor: pointer;" scope="col">
                        <i *ngIf="key =='lastName'" class="fa"
                           [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Nom
                    </th>
                    <th style="cursor: pointer;" scope="col">
                        <i *ngIf="key =='firstName'" class="fa"
                           [ngClass]="{'fa-chevron-down':reverse,'fa-chevron-up':!reverse}"></i>&nbsp;Prénom
                    </th>
                    <th>Email</th>
                    <th>Tél</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of travel.passengers">
                    <td>{{user.lastName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div *ngIf="authService.loggedIn()" class="row mt-3 mb-3" id="comment">
        <div class="col-md-8">
            <div *ngIf="canPostComment" class="card my-4">
                <h5 class="card-header">Laisser un Commentaire:</h5>
                <div class="card-body">
                    <form #f2="ngForm" (submit)="addComment(f2)">
                        <div class="form-group">
                            <ngb-rating [formControl]="ctrl" required>
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                            <div class="form-text small">
                                <div *ngIf="ctrl.valid" class="text-success">Merci!</div>
                                <div *ngIf="ctrl.invalid" class="text-danger">Veuillez fournir une note</div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -10px;">
                            <label for="commentBody"></label>
                            <textarea class="form-control" name="commentBody" [(ngModel)]="comment.commentBody"
                                      id="commentBody" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Soumettre</button>
                    </form>
                </div>
            </div>
            <div *ngFor="let comment of travel.comments" class="media mt-4">
                <img *ngIf="comment.commentUser.photo" class="d-flex mr-3 rounded-circle" [src]="uploadUrl+'/'+comment.commentUser.photo" alt="" width="50" height="50">
                <div class="media-body">
                    <h5 class="mt-0" style="font-size: 16px; font-weight: 600;">{{comment.commentUser.firstName}}
                        {{comment.commentUser.lastName}} <span *ngIf="(comment.commentUser._id === travel.user._id)">(conducteur)</span>
                        <span style="font-style:italic;">{{comment.commentDate |
                        date: 'dd-MM-yyyy'}} à {{comment.commentDate | date : 'HH:mm'}}</span></h5>
                    <ngb-rating [(rate)]="comment.rating" readonly="true" style="margin-top: -10px">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                    <p>{{comment.commentBody}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-make-payment #stripe (change)="book(travel._id)"></app-make-payment>