<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card card-body">
            <h4 class="text-center">Modification du trajet Type</h4>
            <form ngNativeValidate #f="ngForm" (submit)="editTravelType(f)" class="mt-4">
                <div class="form-group">
                    <label for="price">Tarif</label>
                    <input [(ngModel)]="travelType.price" type="text" class="form-control" id="price" name="price"
                           required>
                </div>
                <div class="form-group">
                    <label for="distance">Distance (en km)</label>
                    <input [(ngModel)]="travelType.distanceMax" class="form-control" id="distance" name="distance"
                           value="'0" readonly>
                </div>
                <button type="submit" class="btn btn-success btn-block" id="submit4">Valider</button>
            </form>
        </div>
    </div>
</div>